.App {
  text-align: center;
}

.Header {
  padding: 20px;
  font-family: 'Bebas Neue', cursive;
}

.Driver-container {
  display: flex;
  align-items: center;
}

.Csv-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-custom {
  background-color: #EACBD2!important;
}

.Calendar-header p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Calendar-container {
  border-bottom: 1px solid black;
}

.Days-header {
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 5px 5px 0 0 ;
}

.Day-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Grid-row {
  border-top: 1px solid black;
}

.Time-col {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.Grid-col {
  height: 60px;
  border-right: 1px solid black;
}

.Grid-col:hover {
  background-color: #F5F5F5;
}

@media (max-width: 990px) {
  .Driver-container  {
    display: block;
  }
  .Csv-container {
    display: block;
  }
}
