.App {
  text-align: center;
}

.Header {
  padding: 20px;
  font-family: 'Bebas Neue', cursive;
}

.Driver-container {
  display: flex;
  align-items: center;
}

.Csv-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Calendar-header p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Calendar-container {
  border-bottom: 1px solid black;
}

.Days-header {
  padding: 5px;
  background-color: black;
  color: white;
}

.Grid-row {
  border-top: 1px solid black;
}

.Time-col {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.Grid-col {
  height: 60px;
  border-right: 1px solid black;
}

.Grid-col:hover {
  background-color: #F5F5F5;
}
